@import url(https://fonts.googleapis.com/css?family=Ewert);
@import url(https://fonts.googleapis.com/css?family=Ultra);

body{
    font-family: 'Roboto Mono', monospace;
}

.Title{
    text-align: center;
}

.goomba{
    
}

.reason{
    text-align: center;
}